<!DOCTYPE html>
<html>
  <head>
    <title>AnaghaTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'javascript', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="col-md-12 mt-4">
      <div class="text-center mt-4">
        <%= flash[:alert] %>
        <%= flash[:notice] %>
      </div>
      <div class="text-right m-4">
        <%= link_to 'CSV Upload', csv_path, class: 'btn btn-info' %>
        <%= link_to 'Questions', index_path, class: 'btn btn-info' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
